.header_line-delimiter {
  position: absolute;
  width: 1400px;
  height: 4px;
  left: 20px;
  top: 161px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 13.48%, #000000 49.78%, #000000 100%);
  border-radius: 2px;
  z-index: 999;
}

.header_line-delimiter.breaking {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 13.48%, #00A110 49.78%, #00A110 100%);
}

.header_line-delimiter.working {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 13.48%, #CA0000 49.78%, #CA0000 100%);
}


.header_time-worked-today {
  position: absolute;
  width: 82px;
  height: 23px;
  left: 1248px;
  top: 165px;
  font-weight: bold;
  color: #CA0000;
}

.header_time-breaked-today {
  position: absolute;
  width: 82px;
  height: 23px;
  left: 1339px;
  top: 165px;
  font-weight: bold;
  color: #00A110;
}

.header_time-worked-breaked-today {
  opacity: .5;
}

.header_time-worked-breaked-today.active {
  opacity: 1;
}

.header_image-working {
  position: absolute;
  width: 62px;
  height: 62px;
  left: 1258px;
  top: 101px;
  background: url(assets/img/working.svg);
}

.header_image-breaking {
  position: absolute;
  width: 65px;
  height: 42px;
  left: 1342px;
  top: 119px;
  background: url(assets/img/breaking.svg);
}

.header_image-working-breaking {
  opacity: .2;
  cursor: default;
}

.header_image-working-breaking.active {
  opacity: 1;
  cursor: pointer;
}
