.header_line-delimiter {
  position: absolute;
  width: 1400px;
  height: 4px;
  left: 20px;
  top: 161px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 13.48%, #000000 49.78%, #000000 100%);
  border-radius: 2px;
  z-index: 999;
}

.header_line-delimiter.breaking {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 13.48%, #00A110 49.78%, #00A110 100%);
}

.header_line-delimiter.working {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 13.48%, #CA0000 49.78%, #CA0000 100%);
}
