<div class="task-about_time-intervals">
  <cdk-virtual-scroll-viewport itemSize="10" class="task-about_time-intervals-scroll">
    <div *cdkVirtualFor="let timeInterval of sharedDataService.editTask.timeIntervalList" class="task-about_time-interval-element">
      <div class="time-header">
        <span class="time-interval">{{timeInterval.start}} - {{timeInterval.stop}}</span><span class="total-time">= {{timeInterval.total}}</span>
      </div>
      <div class="message">
        ls;dkfjsdlfjdslfjdslkfjslkdfjsdlkfjdsklfjdlskjfdsk
        dsfsdlfjlkdsjfkldsjfkldjsf
        dsjflksdjfkldsjfkljdkljfdslkfkldjslkfjdsslkfjksdf
        dsfjdskljfkldjkfj kld fjksdj flkjsdklfjkldjf
        sd jflkdjflksdjf kl
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
