<div class="task-about_time-intervals">
  <cdk-virtual-scroll-viewport itemSize="10" class="task-about_time-intervals-scroll">
    <div *cdkVirtualFor="let timeInterval of [0, 1, 2, 0]" class="task-about_time-interval-element">
      <div class="time-header">
        <span class="time-interval">09:05 - 10:53</span><span class="total-time">01:48</span>
      </div>
      <div class="message">
        ls;dkfjsdlfjdslfjdslkfjslkdfjsdlkfjdsklfjdlskjfdsk
        dsfsdlfjlkdsjfkldsjfkldjsf
        dsjflksdjfkldsjfkljdkljfdslkfkldjslkfjdsslkfjksdf
        dsfjdskljfkldjkfj kld fjksdj flkjsdklfjkldjf
        sd jflkdjflksdjf kl
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
