.header_search-block {
  position: absolute;
  width: 1374px;
  height: 34px;
  left: 20px;
  top: 236px;
  padding-left: 20px;
  background: #FFFFFF;
  border: 3px solid #858585;
  border-radius: 17px;
}
